body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

#grid-container {
  display: grid;
  width: 90%;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 70vh auto;
  grid-gap: 1rem;
  background-color: #c2ded1;
}

.grid-title {
  grid-column: 1fr;
  grid-row: 1fr;
  text-align: center;
  padding: 1em;
}

#grid-chart {
  display: grid;
  /* max-height: 1000px;
  min-height: 100px; */
  background-color: #eeeeee;
  color: #393e46;
}

.single-bar {
  width: auto;
  border-radius: 0.5rem 0.5rem 0 0;
}

.grid-options-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  color: #393e46;
}

.options {
  background-color: #eeeeee;
  border-radius: 0.5rem;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.update-graph {
  font-size: 13px;
  font-family: Arial;
  width: 200px;
  height: 45px;
  border-width: 1px;
  color: #fff;
  border-color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-shadow: inset 0px 1px 0px #b23e35;
  background: #00adb5;
}
